* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
  color: #1a1a1a;

}


body {
  width: 100%;
  text-align: center;
  overflow-x: hidden;
}


@keyframes animateBtn {

  0%,
  10%,
  20%,
  50%,
  80%,
  90%,
  100% {
    transform: translateY(0px);
  }

  40% {
    transform: translateY(5px);

  }

  60% {
    transform: translateY(3px);

  }
}